* {
  margin: 0px;
}
html {
  height: 100%;
  background-color: lightgrey;
  width: 100%;
  font-family: arial;
}
/* body {
  height: 110%;
} */
.mainSections {
  display: flex;
  flex-direction: column;
}
.topSection {;
  /* height: 70px; */
  display: flex;
  background-color: #591f1f;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navigation {
  display: flex;
  scroll-behavior: smooth;

}
.text {
  color: white;
}
.logo img {
  display: flex;
  margin-left: 10px;
  margin-top: 0px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  /* position: fixed; */
}

.mediaFixed {
  position: fixed;
  top: 20%;
  margin: 10px;
}
.mediaLogosFixed{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: right;
}
.mediaLogosFixed > a > img {
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  margin-left: -10px;
}
.home, .about, .contacts {
  display: flex;
  justify-content: space-around;
  margin-left: 23px;
  color: white;
  font-size: 17px;
  font-family: arial;
  font-weight: 500;
  flex: 1 1 50px;
}
.home > a, .about > a, .contacts > a {
  text-decoration: none;
  color: white;
}
.contacts {
  margin-right: 10px;
}
.home:hover, .about:hover, .contacts:hover {
  cursor: pointer;
  /* color: skyblue; */
  transition: 0.7s;
  transform: scale(1.1);
}

.co_info {
  height: 600px;
  background-image: url(img/title_bg.jpg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 3em;
}
.co_info:hover {

}
.co_details {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 4em;
  color: white;

}

.co_Title {
  font-size: 60px;
  font-family: Arial;
  animation: co-title 2s;

}
@keyframes co-title {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.co_Title:hover {
  cursor: pointer;
  transition: 2s;
  /* border-bottom: 2px solid gold; */
  /* border-top: 2px solid gold; */
  cursor: pointer;
}
.co_description {
  font-size: 23px;
  font-family: sans-serif;
  cursor: pointer;
  animation: co-des 2s;
}
.co_Title > p {
  text-align: center;
}
@keyframes co-des {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.moreDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
.moreDetails img {
  width: 45px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
  animation: btn 2s infinite;

}
.moreDetails > button {
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid grey;
  animation: btn 2s infinite;
}
@keyframes btn {
  0%{
    transform: translateY(0px);
    opacity: 0;
  }
  100%{
    transform: translateY(20px);
    opacity: 1;
  }
}
.moreDetails > button > a {
  text-decoration: none;
  color: white;
}

.moreDetails > button:hover {
  background-color: grey;
  border: none;
  color: white;
  cursor: pointer;
}


.samplesSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: lightgrey;
}
.h1-projects h1 {
  font-size: 24px;
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}
.box {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: 300px;
  margin: 5px;

}
.box:hover {
  transition: 2s;
  transform: scale(1.05);
}
.imgLink {
  display: flex;
}
.imgLink > img {
  flex 1 1 300px;
  width: 400px;
  position: relative;
  clip-path:  90px, 60px, 200px, 92px;
  clip-
}

@media all and (max-width: 500px) {
  .imgLink > img {
    width: 270px;
  }
}
.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  width: 60%;

}
.management{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: lightgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px;
}
.ceo, .md, .technician {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-wrap: 300px;
  flex: 0 1 300px;
  border: 2px white solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2d0502;
  color: white;
  clip: rect(0px,60px,200px,0px)
}
.ceo:hover, .md:hover, .technician:hover {
  transition: 2s;
  transform: rotateY(-30deg);
}
.mngImages > img{
  width: 100px;
  border-radius: 50%;

}
.ceoDetails > p, .mdDetails > p, .technicianDetails > p {
  text-align: center;
  color: black;
  padding: 5px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: lightgrey;
  margin-left: 40px;
  margin-right: 40px;

}
.ceoDetails > h3, .mdDetails > h3, .technicianDetails > h3 {
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 1.6em;
  padding: 5px;
}
.contactUs {
  display: flex;
  background-size: contain;
  padding: 10px;
  height: 20%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.messagebox {
  border: 2px white solid;
  padding: 15px;
  flex: 0 1 270px;
  line-height: 2em;
  height: 100%;
  background-color: lightgrey;
  border-radius: 20px;
}
input {
  width: 70%;
  padding: 5px;
  font-family: arial;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
  background-color: lightgrey;
}
#sendBtn {
  /* background-color: green;
  color: white; */
  font-size: 15px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
  /* border: 2px solid grey; */
}
#sendBtn:hover {
  /* background: grey;
  color: white; */
  transition: 0.5s;
  cursor: pointer;

}
.msgTitle {
  font: 25px normal arial;
  color: black;
  text-align: center;
  font-weight: bold;
}
textarea {
  width: 90%;
  font-family: arial;
  font-size: 16px;
  border-radius: 5px;
  line-height: 1.6em;
  background-color: lightgrey;
  margin: 5px;
  margin-bottom: 0px;
}
.success {
  color: green;
  cursor: pointer;
}
.failed {
  color: red;
  cursor: pointer;
}
.keepReading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  line-height: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 0 1 600px;

}
.keepReading h3 {
  color: green;
  font-size: 14px;
  text-align: center;
}
.keepReading a {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.feedbackTitle {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.responses {
  text-align: left;
}
.deletedRes {
  background-color: grey;
  text-align: center;
}
.deletedRes > h3 {
  text-align: center;
  padding: 10px;
  font-family: arial;

}
.client1 {
  border: 1px solid green;
  border-radius: 5px;
  margin: 2px;
  padding: 8px;
  background-color: lightgrey;
  flex: 1 1 100%;
  line-height: 1.8em;
}
.bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.deleteBtn, .sendMsgBtn {
  cursor: pointer;
  color: white;
  border-radius: 2px;
  margin: 10px;
  padding: 5px;
}
.sendMsgBtn {
  background-color: green;
  border: 2px solid green;
}
.deleteBtn  {
  background-color: red;
  border: 2px solid red;
}
.deleteBtn:hover {
  transform: rotateY(-30deg);
  transition: 0.6s;
}
.sendMsgBtn:hover {
  transition: 0.6s;
  transform: rotateY(30deg);
}
.client1 > i {
  justify-content: center;
  flex: 0 0 20%;
}
.bottom > h2 {
  font-size: 17px;
  font-weight: bold;
  text-align: right;
  order: -1;
}
.foot {
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
  padding: 10px;
  flex-wrap: wrap-reverse;
}

.mediaTag {
  margin: 5px;
  font-family: arial;
  font-size: 13px;
  text-align: center;
  line-height: 2em;
  color: white;
}
.mediaLogos {
  display: flex;
  line-height: 1.6em;
}
.mediaLogos > img {
  width: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: transparent;
}
.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 13px;
  text-align: center;
  line-height: 2em;
}
.partners {
  margin: 5px;
  font-family: arial;
  font-size: 13px;
  text-align: center;
  line-height: 2em;
}
.partners > ul {
  font-family: serif;
  font-size: 13px;
  text-align: left;
  line-height: 1.6em;
}

.aboutUs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* padding-top: 10px;
  padding-botto
  m: 10px; */
  background-color: lightgrey;
  margin-left: 30px;
  margin-right: 30px;
}
.aboutUs h1, {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
}
#libraryTitle {
  font-size: 24px;
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;
  /* text-decoration: underline; */
}
.p1, .p2, .p3 {
  background-color: lightgrey;
  padding: 10px;
  font-family: arial;
  line-height: 1.6em;
  font-size: 14px;
  
}
.p1:hover, .p2:hover, .p3:hover {
  background-color: skyblue ;
  /* color: white; */
  border-radius: 5px;
  transition: 0.8s;
}
.p1 > h4, .p2 > h4, .p3 > h4 {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 7px;
  font-size: 16px;
  color: green;
  /* background-color: grey; */
  border-radius: 20px;
  /* width: 300px; */
  border-top: none;
  flex-wrap: wrap;
  align-self: flex-start;
}

.p1 > h3, .p2 > h3, .p3 > h3 {
  font-size: 13px;
  text-align: center;
  line-height: 1.6em;
  font-family: serif;
  /* background-color: grey; */
  padding: 5px;
}

#inputForm {
  padding: 5px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}
#inputForm > button {
  padding: 5px;
  font-size: 16px;
}

.addBooks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 100, 50, 0.2), rgba(0, 100, 50, 0.2));
  margin-bottom: 10px;
  margin-top: 10px;

}
.leftBooks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 0 200px;
  padding: 20px;
}
.leftBooks:hover {
  transition: 1s;
  background: linear-gradient(rgba(0, 100, 50, 0.2), rgba(0, 100, 50, 0.4));
}
.rightBooks:hover {
  transition: 1s;
  background: linear-gradient(rgba(0, 100, 50, 0.2), rgba(0, 100, 50, 0.4));
}
.rightBooks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 20px;
  text-align: right;
  flex: 0 0 200px;
}
.rightBooks > h5, .leftBooks > h5 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10px;
}
.checking {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
}
.checking > input {
  width: 10px;
}
.checking > label {
  width: 100%;
  margin-left: 5px;
}
#form {
  margin-top: -20px;
}
#inputForm {
  width: 100%;
}
.books {
  line-height: 1.6em;
  flex: 1 1 50%;
}
.book {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  margin: 5px;
  background-color: green;
  border-radius: 2px;
  color: white;
  flex: 1;
  flex-wrap: wrap;
}
.book > h5 {
  margin-right: auto;
}
.del {
  background-color: red;
  border: 2px solid red;
  margin-left: 10px;;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}
.book > button:hover {
  transition: 0.2s;
  transform: rotateY(-30deg);
}

.clonedLogos > img {
  width: 30px;
  border-radius: 50%;
  margin: 5px;
}



























































@media all and (max-width: 500px) {
  .topSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    line-height: 1.6em;
  }
  .bottom > h2 {
    margin: 5px;
    flex: 1 1 100%;
  }
  .bottom > button {
    flex: 0 0 30%;
    padding: 5px;
  }
  .addBooks {
    flex-direction: column;
  }
}




/
